In [45]:
import pandas as pd
import numpy as np
import datetime

In [46]:
trajfile = 'traj.csv'
df = pd.read_csv(trajfile)
df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,110,111,112,113,114,115,116,117,118,119
0,0,-0.705803,0.731925,0.610485,-0.641182,0.010599,0.051203,0.329802,0.596910,0.307122,...,0.140768,0.740637,-0.116880,-0.064410,-0.097043,-0.641910,-0.725828,-0.191458,-0.774394,0.386371
1,1,0.082285,0.098664,0.618384,-0.330841,0.182519,0.756751,0.220542,-0.540711,0.678848,...,-0.664502,-0.345241,-0.545918,-0.235254,0.508253,0.024544,-0.278150,-0.695620,-0.444841,0.781180
2,2,0.063478,-0.152505,-0.620587,-0.615959,0.704745,0.692444,-0.004134,-0.618235,0.343820,...,0.653051,-0.004857,-0.006447,0.367494,0.241248,-0.398838,-0.488997,-0.183441,0.539328,-0.600871
3,3,0.515289,-0.260928,0.557606,-0.306111,-0.774026,-0.718915,-0.662925,0.602174,-0.783099,...,0.709320,0.090876,0.771357,-0.061387,-0.764576,0.716167,0.186087,-0.750735,0.214580,-0.187528
4,4,-0.726931,0.468759,-0.507829,-0.427583,0.156156,0.439292,-0.119263,-0.082771,0.036553,...,-0.431536,-0.267532,-0.771215,0.471293,-0.155457,0.331099,-0.585550,0.359189,-0.483040,0.197631
5,5,-0.261689,0.449181,0.407896,0.067837,0.559138,-0.125388,-0.698985,-0.312006,0.646567,...,-0.718678,0.361745,0.638078,0.455902,0.054590,-0.496070,0.689445,0.272561,-0.121621,-0.137390
6,6,0.585345,0.568627,0.233005,0.407828,-0.762668,0.713287,0.102195,-0.471095,-0.087387,...,-0.673308,-0.456303,0.206044,-0.096081,-0.572548,-0.581778,0.463081,-0.774195,0.585859,0.219214

In [47]:
def get_random_rows(num, A):
    return A[np.random.choice(A.shape[0], num, replace=False)]

In [48]:
random_poses_invkin = '5000_random_poses_invkin.csv'
random_poses_invkin = pd.read_csv(random_poses_invkin)
qs = [f'q{i+1}' for i in range(7)]
hundred_random_poses = random_poses_invkin[qs].to_numpy()
hundred_random_poses = get_random_rows(100, hundred_random_poses)
hundred_random_poses = hundred_random_poses.T
np.shape(hundred_random_poses)

(7, 100)

In [51]:
current_datetime = datetime.datetime.now()
timestamp = current_datetime.timestamp()
timestamp = datetime.datetime.fromtimestamp(timestamp).strftime("%Y-%m-%d-%H-%M-%S")

df_export = pd.DataFrame(hundred_random_poses)
df_export.to_csv('random_traj_'+timestamp+'.csv')